{% extends 'account_father.html' %}
{% load static %}
{% block changeblock4 %}

<div class="profile-container">
  <form action="" class="form" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div class="card-edit">
      <div class="defaultimg-container">
        {% if profile.avatar %}
        <img card-img-top src="{{profile.avatar.url}}" alt="profilepic" accept="image/*">
        {% elif not profile.avatar %}
        {% if "Female" in profile.gender %}
        <img class="defaultimg_img card-img-top" src="{{STATIC_URL}}/static/imgs/defaultf.png" alt="defaultimgm">
        {% elif "Male" in profile.gender%}
        <img class="defaultimg_img card-img-top" src="{{STATIC_URL}}/static/imgs/defaultm.png" alt="defaultimgm">
        {% elif "Other" in profile.gender%}
        <img class="defaultimg_img card-img-top" src="{{STATIC_URL}}/static/imgs/defaulto.png" alt="defaultimgm">
        {% elif "I prefer not to tell" in profile.gender%}
        <img class="defaultimg_img card-img-top" src="{{STATIC_URL}}/static/imgs/defaultp.png" alt="defaultimgm">
        {% endif %}
        {% endif %}
      </div>
      <div class="card-body">
        <label class="id_avatar">
          <input type="file" name="avatar" accept="image/*" id="id_avatar" />
          <div class="button" data-tooltip="Size: 20Mb">
            <div class="button-wrapper">
              <div class="text">Load img</div>
              <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="2em" height="2em"
                  preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 15V3m0 12l-4-4m4 4l4-4M2 17l.621 2.485A2 2 0 0 0 4.561 21h14.878a2 2 0 0 0 1.94-1.515L22 17">
                  </path>
                </svg>
              </span>
            </div>
          </div>
        </label>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <label for="id_age">Age:</label>
        <input type="number" name="age" class="form-control input-age" value="{{form.age.value}}" required=""
          id="id_age">
      </li>
      <li class="list-group-item">
        <label for="id_gender">Gender:</label>
        <select class="form-check" name="gender" id="id_gender">
          <option class="form-check-label" value="Male" selected="">Male</option>
          <option class="form-check-label" value="Female">Female</option>
          <option class="form-check-label" value="Other">Other</option>
          <option class="form-check-label" value="I prefer not to tell">I prefer not to tell</option>
        </select>
      </li>
    </ul>
    <div class="card-body card-bottom">
      <button class="edit-button" type="submit" class="btn btn-primary button" value="Send">
        <span>Update</span>
      </button>
    </div>
  </form>
</div>

{% endblock %}