{% extends 'account_father.html' %}
{% load static %}
{% block changeblock4 %}

<div class="main-container-login">
  <form action="" class="form" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div class="title">Hi there again, please Log in</div>
    <div class="form-row">
      <div class="form-group col-md-12 ">
        <label for="id_username">Username</label>
        <input type="text" class="form-control input" name="username" id="id_username" maxlength="15" required=""
          placeholder="type your username">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12 ">
        <label for="id_password">Password</label>
        <input type="password" class="form-control input" name="password" required="" id="id_password"
          placeholder="type your password">
      </div>
    </div>
    <button type="submit" class="btn btn-primary button">
      <span>Login</span>
    </button>
  </form>

  <div class="main-container-login-imgc">
    <img src="{{STATIC_URL}}/static/imgs/login/login.svg" alt="login image">
  </div>
</div>
{% endblock %}