{% extends 'account_father.html' %}
{% load static %}
{% block changeblock4 %}

<div class="welcome-container">
  <div class="welcome-container-top">
  </div>
  <div class="welcome-container-bottom">
    <p>Hi there! Welcome to the community {{user.username}} What about getting started?</p>
    <div class="welcome-container-bottom_buttons">
      <button>
        <a href="{% url 'gallery_home' %}">
          Explore
        </a>
        <div class="arrow-wrapper">
          <div class="arrow"></div>
        </div>
      </button>
      <button>
        <a href="{% url 'add_item' %}">
          Add new Item
        </a>
        <div class="arrow-wrapper">
          <div class="arrow"></div>
        </div>
      </button>
    </div>
  </div>
</div>
{% endblock %}