{% extends 'account_father.html' %}
{% load static %}
{% block changeblock4 %}

<div class="main-container-signup">
  {% if form.errors %}
  <p>ERROR</p>
  {% endif %}
  <form action="" class="form" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div class="title">Signup for Free and join the community!</div>
    <div class="form-row">
      <div class="form-group col-md-5 ">
        <label for="id_first_name">Name</label>
        <input type="text" class="form-control input" id="id_first_name" name="first_name" maxlength="25" required=""
          placeholder="enter your name/s">
      </div>
      <div class="form-group col-md-5 ">
        <label for="id_last_name">Lastname</label>
        <input type="text" class="form-control input" name="last_name" id="id_last_name" maxlength="25" required=""
          placeholder="enter your lastname">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 ">
        <label for="id_username">Username</label>
        <input type="text" class="form-control input" name="username" id="id_username" maxlength="15" required=""
          placeholder="insert a username">
      </div>
      <div class="form-group col-md-6 ">
        <label for="id_email">Email</label>
        <input type="email" class="form-control input" name="email" maxlength="254" required="" id="id_email"
          placeholder="@">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 ">
        <label for="id_password1">Password</label>
        <input type="password" class="form-control input" name="password1" required="" id="id_password1"
          placeholder="create password">
      </div>
      <div class="form-group col-md-6 ">
        <label for="id_password2">Repeat Password</label>
        <input type="password" class="form-control input" name="password2" required="" id="id_password2"
          placeholder="repeat password">
      </div>
    </div>
    <button type="submit" class="btn btn-primary button" value="Send">
      <span>Sign in</span>
    </button>
  </form>
</div>
{% endblock %}