{% extends 'admin_tools_father.html' %}
{% load static %}
{% block changeblock3 %}
<script defer src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<div class="add-container">
  <div class="add-title-container">
    <p class="add-title_text">Page under construction</p>
    <lottie-player class="lootie" src="https://lottie.host/5679b926-3fb6-43b1-b6b8-da4f58a72531/UDKnDUZJxQ.json"
      background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
  </div>
  <div class="buttonback-container">
    <button class="buttonback" onclick="history.back()">
      Back
    </button>
  </div>
</div>

{% endblock %}