{% extends 'admin_tools_father.html' %}
{% load static %}
{% block changeblock3 %}


<div class="container-items container-items_adminpanel">
  <div class="list-container-textc">
    <div class="list-title-container">
      <p>Administration</p>
    </div>
  </div>
  <div class="options-container">
    <div class="options-container_box">
      <h1 class="card_load_extreme_title_text">
        <a href="{% url 'users_home' %}">USERS</a>
      </h1>
    </div>
    <div class="options-container_box">
      <h1 class="card_load_extreme_title_text">
        <a href="{% url 'items_home' %}">ITEMS</a>
      </h1>
    </div>
  </div>
</div>
{% endblock %}