{% extends 'admin_tools_father.html' %}
{% load static %}
{% block changeblock3 %}

<h1><a href="{% url 'users_home' %}">USERS</a></h1>
<h1><a href="{% url 'items_home' %}">ITEMS</a></h1>

<!-- <a class="btn btn-primary" href="#" role="button">Users</a>

  <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Items
    </a>
    <ul class="dropdown-menu">
      <li><a href="{% url 'items_home' %}">ITEMS</a></li>
      <li><a href="{% url 'items_home' %}">ITEMS2</a></li>
      <li><a href="{% url 'items_home' %}">ITEMS3</a></li>
      <li><a href="{% url 'items_home' %}">ITEMS4</a></li>
      <li><a href="{% url 'items_home' %}">ITEMS5</a></li>
    </ul>
  </div> -->



{% endblock %}