<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

{% extends 'admin_tools_father.html' %}
{% load static %}
{% block changeblock3 %}
<div class="delete-container">
  <div class="delete-title-container">
    <p class="delete-title_text">Are you sure you want to delete "{{object.item_name}}"</p>
    <p class="delete-title_text">This action can't be undone</p>
    <form action="" method="POST">{% csrf_token %}

      <button class="cssbuttons-io">
        <span class="span-delete"><input type="submit" value="Delete" /></span>

      </button>

    </form>
    <lottie-player class="lootie" src="https://lottie.host/3aff1850-2137-41fa-b559-d8a7b3f1602a/pHXv44yTTm.json"
      background="transparent" speed="1" style="width: 200px; height: 200px;" loop autoplay></lottie-player>
  </div>
  <div class="buttonback-container">
    <button class="buttonback" onclick="history.back()">
      Back
    </button>
    <button class="buttonback">
      <a href="{% url 'admin_tools_home' %}">Cancel</a>
    </button>
  </div>
</div>

{% endblock %}