{% extends 'admin_tools_father.html' %}
{% load static %}
{% block changeblock3 %}

<div class="container-items container-items_adminpanel">
  <div class="admin-container-title">
    <div class="admin-container-title_text">
      <p>Edit "{{user.username}}"</p>
    </div>
  </div>
  <!-- <table class="responsive-table">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <form action="" class="form" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <tr>
          <th scope="row">
            <input type="text" class="form-control input" id="username" value="{{user.username}}" name="username"
              maxlength="25" required="" placeholder="username">
          </th>
          <td data-title="First Name">
            <input type="text" class="form-control input" id="first_name" value="{{user.first_name}}" name="first_name"
              maxlength="25" required="" placeholder="name">
          </td>
          <td data-title="Last Name">
            <input type="text" class="form-control input" id="last_name" value="{{user.last_name}}" name="last_name"
              maxlength="25" required="" placeholder="last name">
          </td>
          <td data-title="Email" data-type="currency">
            <input type="email" class="form-control input" id="email" value="{{user.email}}" name="email" maxlength="25"
              required="" placeholder="email">
          </td>
          <td data-title="Update" data-type="currency">
            <button type="submit" class="btn btn-primary button" value="Send">
              <span>Update</span>
            </button>
          </td>
        </tr>
      </form>
    </tbody>
  </table> -->
  <div class="main-container-edit_item edit_item">
    <form action="" class="form" method="POST" enctype="multipart/form-data">{% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-6 ">
          <label for="username">Username</label>
          <input type="text" class="form-control input" id="username" value="{{user.username}}" name="username"
            maxlength="25" required="" placeholder="item title">
        </div>
        <div class="form-group col-md-3 ">
          <label for="first_name">First Name</label>
          <input type="text" class="form-control input" value="{{user.first_name}}" name="first_name" required=""
            id="first_name" placeholder="">
        </div>
        <div class="form-group col-md-3 ">
          <label for="last_name">Last Name</label>
          <input type="text" class="form-control input" value="{{user.last_name}}" name="last_name" required=""
            id="last_name" placeholder="">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="email">Email</label>
          <input type="email" class="form-control input" value="{{user.email}}" name="email" required="" id="email"
            placeholder="">
        </div>
      </div>
      <div class="buttons">
        <button type="submit" class="btn btn-primary button" value="Send">
          <span>Update</span>
        </button>
        <button onclick="history.back()" class="btn btn-primary button">
          <span>Cancel</span>
        </button>
      </div>
    </form>
  </div>

</div>

{% endblock %}