.list-detail-container {
  display: flex;
  width: 100vw;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .list-container-textc {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
    .list-title-container {
      width: 90%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-bottom-color: white;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      p {
        color: white;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2rem;
        user-select: none;
      }
      .item-name {
        font-weight: 300;
        margin: 0 0 1rem 10px;
        line-height: 2rem;
      }
    }
  }
  .list-detail-container-cards {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: fit-content;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    .card {
      overflow: visible;
      width: 800px;
      height: 420px;
      margin: 20px;
      border-style: none;
      .content {
        width: 100%;
        height: 100%;
        transition: transform 300ms;
        box-shadow: 0px 0px 10px 1px #000000ee;
        border-radius: 5px;
        .back {
          justify-content: center;
          display: flex;
          align-items: center;
          background-color: #000000;
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          -webkit-backface-visibility: hidden;
          border-radius: 5px;
          overflow: hidden;
          .back-content {
            position: absolute;
            width: 99%;
            height: 99%;
            background-color: #000000;
            border-radius: 5px;
            color: rgb(255, 255, 255, 0.8);
            display: flex;
            font-family: "Montserrat", sans-serif;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            user-select: none;
            .back-content-img {
              width: 50%;
              height: 100%;
              display: flex;
              img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
              }
            }
            .back-content-rightc {
              display: flex;
              flex-direction: column;
              width: 50%;
              height: 100%;
              justify-content: center;
              align-items: center;
              .p1 {
                font-size: 2rem;
              }
              .p2 {
                font-size: 1.3rem;
                width: 90%;
                font-family: Arial, Helvetica, sans-serif;
                margin: 0;
                font-style: italic;
                color: rgba(255, 255, 255, 0.726);
              }
              strong {
                margin: 0.5rem 0 0.5rem 0;
              }
            }
          }
        }
        .back::before {
          position: absolute;
          content: "";
          display: block;
          width: 160px;
          height: 160%;
          background: linear-gradient(
            90deg,
            transparent,
            rgb(219, 23, 131),
            rgb(219, 23, 131),
            rgb(219, 23, 131),
            rgb(219, 23, 131),
            transparent
          );
          animation: rotation_481 8000ms infinite linear;
        }
      }
    }
    @keyframes rotation_481 {
      0% {
        transform: rotateZ(0deg);
      }

      0% {
        transform: rotateZ(360deg);
      }
    }
    @keyframes floating {
      0% {
        transform: translateY(0px);
      }
      50% {
        transform: translateY(10px);
      }
      100% {
        transform: translateY(0px);
      }
    }
  }
  .buttonback-container {
    display: flex;
    width: 90%;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: white;
    justify-content: center;
    padding: 10px 0 0 0;
    margin: 50px 0 100px 0;
    .buttonback {
      position: relative;
      height: 40px;
      width: 120px;
      color: #ffffff;
      font-size: 1rem;
      line-height: 1rem;
      font-weight: 500;
      letter-spacing: 1px;
      background-color: transparent;
      transition: all 0.5s;
      border: none;
      a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
        line-height: 1rem;
        font-weight: 500;
        letter-spacing: 1px;
        position: relative;
        z-index: 10;
      }
    }

    .buttonback::before {
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.3s;
      z-index: 1;
    }

    .buttonback:hover::before {
      opacity: 0;
      transform: scale(0.7, 0.7);
    }

    .buttonback::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.4s;
      border: 1px solid #ffffff;
      transform: scale(1.2, 1.2);
      opacity: 0;
      z-index: 1;
      text-align: center;
    }

    .buttonback:hover::after {
      opacity: 1;
      transform: scale(1, 1);
    }
  }
}

@media (max-width: 576px) {
  .list-detail-container {
    .list-container-textc {
      .list-title-container {
        p {
          font-size: 6vw;
          line-height: 1.5rem;
          margin-bottom: 0.5rem;
        }
        .item-name {
          font-weight: 300;
          margin: 0 0 0.5rem 10px;
          line-height: 1.5rem;
        }
      }
    }
    .list-detail-container-cards {
      .card {
        height: 550px;
        .content {
          .back {
            .back-content {
              flex-direction: column;
              .back-content-img {
                height: auto;
                width: 100%;
                max-width: 90%;
                max-height: 50%;
                justify-content: center;
              }
              .back-content-rightc {
                justify-content: flex-start;
                height: fit-content;
                width: 80%;
                .p1 {
                  font-size: 1.5rem;
                }
                .p2 {
                  font-size: 1rem;
                }
                strong {
                  margin: 0.5rem 0 0.5rem 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
