.container-items_adminpanel {
  align-items: center;
  min-height: 800px !important;
  .admin-container-title {
    width: 100%;
    display: flex;
    margin: 50px 0 0 0;
    .admin-container-title_text {
      width: 100%;
      display: flex;
      border-bottom-color: white;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      p {
        color: white;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2rem;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
    }
  }
}

@media (max-width: 576px) {
  .container-items_adminpanel {
    min-height: 500px !important;
    .admin-container-title {
      justify-content: center;
      .admin-container-title_text {
        justify-content: center;
        align-items: center;
        width: 90vw;
        p {
          color: white;
          font-weight: 500;
          font-size: 1.5rem;
          line-height: 1.5rem;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }
      }
    }
  }
  .edit_item {
    margin: 50px 0 0 0 !important;
    form {
      .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .button {
          width: 80% !important;
          margin-bottom: 20px;
        }
      }
    }
  }
}
