{% extends 'gallery_father.html' %}
{% load static %}
{% block changeblock2 %}

<div class="list-detail-container">
  <div class="list-container-textc">
    <div class="list-title-container">
      <p>{{item.item_genre}} /</p>
      <p class="item-name">{{item.item_name}}</p>
    </div>
  </div>
  <div class="list-detail-container-cards">
    <div class="card">
      <div class="content">
        <div class="back">
          <div class="back-content">
            <div class="back-content-img">
              <img src="{{STATIC_URL}}/media/{{item.item_image}}" alt="itemimage">
            </div>
            <div class="back-content-rightc">
              <!-- <p class="p1">{{item.item_name}}</p> -->
              <p class="p1">Price: ${{item.item_price}}</strong></p>
              <strong>Quantity available: {{item.item_stock}}</strong>
              <p class="p2">"{{item.item_description}}"</strong></p>
              <strong>Material/s: {{item.item_material}}</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="buttonback-container">
    <button class="buttonback" onclick="history.back()">
      Return
    </button>
    <button class="buttonback">
      <a href="{% url 'gallery_home' %}">Back to Gallery</a>
    </button>
  </div>
</div>
{% endblock %}