{% extends 'gallery_father.html' %}
{% load static %}
{% block changeblock2 %}

<div class="list-container">
  <div class="list-container-textc">
    <p>PAINTINGS LIST</p>
    <button><a href="{% url 'add_item' %}">ADD NEW PRODUCT</a></button>
  </div>
  <div class="list-container-cards">
    {% for item in object_list %}
    {% if item.item_genre == "Paintings" %}
    <a href="{% url 'delete' item.id %}">Delete</a>
    <a href="{% url 'edit' item.id %}">Edit</a>
    <div class="card">
      <div class="content">
        <div class="back">
          <div class="back-content">
            <strong>{{item.item_name}}</strong>
            <img src="{{STATIC_URL}}/media/{{item.item_image}}" alt="itemimage">
            <strong>${{item.item_price}}</strong>
          </div>
        </div>
        <div class="front">
          <div class="img">
            <img src="{{STATIC_URL}}/media/{{item.item_image}}" alt="backcard">
          </div>
          <div class="front-content">
            <div class="description">
              <div class="title">
                <p class="title">
                  <strong>{{item.item_name}}</strong>
                </p>
              </div>
              <button class="button">
                <a href="{% url 'detail_item' item.id %}">Details</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <button onclick="history.back()">Return</button>
</div>

{% endblock %}