{% extends 'gallery_father.html' %}
{% load static %}
{% block changeblock2 %}
<script defer src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<div class="add-container">

  {% if not item_material %}
  <div class="add-title-container">
    <p class="add-title_text">Your search was empty, please try again</p>
    <lottie-player class="lootie" src="https://lottie.host/5679b926-3fb6-43b1-b6b8-da4f58a72531/UDKnDUZJxQ.json"
      background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
  </div>
  <div class="buttonback-container">
    <button class="buttonback" onclick="history.back()">
      Back
    </button>
  </div>

  {% elif not item %}
  <div class="add-title-container">
    <p class="add-title_text">Your search for "{{item_material}}" didn't get any coincidence, please try
      again</p>
    <lottie-player class="lootie" src="https://lottie.host/5679b926-3fb6-43b1-b6b8-da4f58a72531/UDKnDUZJxQ.json"
      background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
  </div>
  <div class="buttonback-container">
    <button class="buttonback" onclick="history.back()">
      Back
    </button>
  </div>
  {% endif %}
</div>

{% endblock %}