{% extends 'gallery_father.html' %}
{% load static %}
{% block changeblock2 %}

<div class="list-container">
  <div class="list-container-textc">
    <p>RESULTS LIST</p>
  </div>
  <div class="list-container-cards">
    {% if item %}
    {% for result in item %}
    <div class="card">
      <div class="content">
        <div class="back">
          <div class="back-content">
            <strong>{{result.item_name}}</strong>
            <img src="{{STATIC_URL}}/media/{{result.item_image}}" alt="itemimage">
            <strong>${{result.item_price}}</strong>
          </div>
        </div>
        <div class="front">
          <div class="img">
            <img src="{{STATIC_URL}}/media/{{result.item_image}}" alt="backcard">
          </div>
          <div class="front-content">
            <div class="description">
              <div class="title">
                <p class="title">
                  <strong>{{result.item_name}}</strong>
                </p>
              </div>
              <button class="button">
                <a href="{% url 'detail_item' result.id %}">Details</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
  <button onclick="history.back()">Search Again</button>
</div>

{% endblock %}