.footer-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 30vh;
  .footer-container_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    height: 90%;
    justify-content: center;
    background-color: white;
  }
  .footer-container_center {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    height: 90%;
    justify-content: center;
    background-color: white;
  }
  .footer-container_right {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    height: 90%;
    justify-content: center;
    background-color: white;
  }
}
