<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>static site</title>
  <!--bs style-->
  <link rel="stylesheet" href="main.css">
  <!--bs js-->
  <script defer src="bootstrap.bundle.min.js"></script>
  <link rel="icon" type="image/png" href="./imgs/favicon.png">
  <!--fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index_home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'gallery_home' %}">Gallery</a>
          </li>
          <div class="nav-item-imgc">
            <img class="nav-item-imgc-img" src="{{STATIC_URL}}/static/imgs/pythonlogo.svg" alt="image">
          </div>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_tools_home' %}">Administration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'message' %}">Message Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_home' %}">Login/Signup</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</body>

</html>